{
    "CN": "etcd",
    "hosts": [
      {% for host in groups['etcd'] %}
    “{{ host }}”,
      {% endfor %}
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CN",
            "L": "BeiJing",
            "ST": "BeiJing"
        }
    ]
}
